<h1>{{nombre}}</h1>

<dl>
    <td>Nombre: </td>
    <dd>{{nombre}}</dd>

    <td>Edad: </td>
    <dd>{{edad}}</dd>

    <td>Función: </td>
    <dd>{{obtenerNombre()}}</dd>

    <td>Mayúsculas: </td>
    <dd>{{nombreMayuscula}}</dd>
</dl>

<button (click)="cambiarNombre()">
    Cambiar Héroe
</button>

<button (click)="cambiarEdad()">
    Cambiar Edad
</button>


<!--Los eventos siempre van entre paréntesis. -->

<!--One-way data binding: si una propiedad (por ejemplo, edad)
cambia en el componente, cambiará aquí; pero no hay manera en que
desde el html se pueda cambiar el componente-->
